<html>
	<head>
		<title>TODO app</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	</head>
	 
<body>
	<div class="container">
		<h2>TODO website - Daniel Leśniewicz</h2>
		<hr>
		<p class="h4 mb-4">Edycja zadania (ʘ‿ʘ)</p>
		<div class="container">
		<form action="/changeTodo" method="POST">
			{% for task in tasks %}
			<input type="text" name="_id" value="{{ task['_id'] }}" hidden>

			<table>
			 
			<b>Nazwa zadania:</b> <input type="text" name="name" class="form-control mb-4 col-4" value="{{ task['name'] }}" placeholder="{{ task['name'] }}">
			<b>Opis:</b> <textarea type="text" name="desc" class="form-control mb-4 col-4" placeholder="{{ task['desc'] }}"> {{ task['desc'] }} </textarea>
			<b>Deadline:</b> <input type="text" name="date" class="form-control mb-4 col-4" value="{{ task['date'] }}"  placeholder="{{ task['date'] }}">
			 
			</table>
			{% endfor %}
				<button type="submit" class="btn btn-info" > Aktualizuj zadanie!</button>
				<br/>
		</form>
		<br>
		<a href="/">Powrót do listy zadań</a>
		</div>
		
	</div>
</body>
</html>
